# Sistema Operacional
.DS_Store
Thumbs.db

# Dependências
**/node_modules/
.pnp/
.pnp.js
.vscode/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Compilados / Builds
**/dist/
build/
out/
.tmp/
.tmp/**
.cache/

# Testes
coverage/
.nyc_output/

# Ambiente de Produção
.env
.env.local
.env.*.local
env.sh
secret.json

# IDEs e editores
.idea/
.vscode/
*.sublime-workspace

# Git
.git/
.gitignore
.gitattributes

# Sistemas de Contêineres
Dockerfile
docker-compose.yml
.dockerignore

# Ferramentas de Controle de Versão
.eslintcache
.stylelintcache
.prettiercache

# Outros
*.swp
*.swo
*.swn
*.bak
*.backup
*.tmp

# Pastas específicas de builds front-end
.eslintcache
yarn.lock
package-lock.json
pnpm-lock.yaml

# Next.js
.next/
